In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

### Coletando os caracteres disponiveis removendo as repetições usando o comando unique( )

In [5]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

### Sabemos quais foram os caracteres utilizados na série, mas podemos saber inclusive quantas vezes cada tipo foi utilizado, desconsiderando as repetições. Usando o VALUE_COUNTS():

In [7]:
s.value_counts()

a    5
d    5
s    4
e    3
Name: count, dtype: int64

### Vamos explorar como essas medidas podem ser aplicadas em bancos de dados. Importaremos o banco de dados do arquivo aluguel, que não é o mesmo que estamos utilizando no projeto principal.

In [12]:
dados= pd.read_csv('dados/aluguel.csv' , sep=';')

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

### A seguradora em dado momento do nosso trabalho, solicitou os tipos de imóveis cadastrados no banco de dados. Para descobrirmos, usaremos o comando unique()

In [17]:
tipo_de_imoveis = dados['Tipo'].unique()

tipo_de_imoveis

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

### Podemos, inclusive utilizar value_counts() no banco dados:

In [18]:
dados['Tipo'].value_counts()

Tipo
Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: count, dtype: int64

### Teremos a quantidade de ocorrências para cada tipo de imóvel !