In [1]:
import pandas as pd

In [11]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

## Função Split

In [23]:
'l5 l8 l904 l09 g65'.split()

['l5', 'l8', 'l904', 'l09', 'g65']

## Filtrando informaões usando " [  ]"

In [12]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [18]:
df [['c2']]

    c2
l1   2
l2   6
l3  10
l4  14

In [19]:
df [['c2' , 'c4']]

    c2  c4
l1   2   4
l2   6   8
l3  10  12
l4  14  16

In [30]:
df [ 1:]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

## Função LOC

In [24]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [36]:
df.loc[['l1']]

    c1  c2  c3  c4
l1   1   2   3   4

In [39]:
df.loc[['l4' , 'l2']]

    c1  c2  c3  c4
l4  13  14  15  16
l2   5   6   7   8

In [40]:
df.loc[['l1'] , ['c1']]

    c1
l1   1

In [42]:
df.loc[['l4', 'l3', 'l1'] , ['c4', 'c2']]

    c4  c2
l4  16  14
l3  12  10
l1   4   2

## Função ILOC

In [45]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [46]:
df.iloc[[2,0],[3,2]]

    c4  c3
l3  12  11
l1   4   3